@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i,700,700i&display=swap");

* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
}

body {
    display: grid;
    grid-template-columns: 90px 1fr;
    height: 100vh;
    overflow: hidden;
}

iframe {
    height: 100vh;
    width: 100%;
}

.contact-box {
    padding-top: 40px;
    padding-bottom: 40px;
    position: absolute;
    background: #fff;
    max-width: 1120px;
    width: 100%;
    left: 15%;
    bottom: 87px;
    text-align: center;
    border-radius: 8px;
    -webkit-box-shadow: 0 0 103px rgba(0, 0, 0, 0.08);
    box-shadow: 0 0 103px rgba(0, 0, 0, 0.08);
}

.row {
    display: flex;
    flex-wrap: nowrap;
}

.col-lg-4 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.contact-info i {
    display: block;
    font-size: 48px;
    color: #2916e0;
    margin-bottom: 20px;
}

.contact-info p {
    margin-bottom: 0;
    font-size: 18px;
    color: #252525;
    font-weight: 500;
}

p {
    font-size: 15px;
    color: #636363;
    line-height: 1.8;
}

span {
    color: #b2b2b2;
    font-weight: 400;
}